# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\joao.aragao\Documents\Codigos\Pratica\Java\Criando a Primeira Aplicação\aprendendo-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
